/* Set the background color to black */
.terminal {
    background-color: black;
    overflow: hidden;
    position: fixed;
    z-index: 100;
}

.terminal-text {
    background-color: black;
    color: greenyellow;
    position: fixed;
    z-index: 99;
    overflow-y: scroll;
}

/* Set the styles for the scrollable area */
.terminal input {
    position: relative;
    /* overflow-y: scroll; */
    background: none;
    background-color: none;
    color: greenyellow;
    border: none;
    font-size: 14px;
    width: 100%;
    height: 100%;
    bottom: 0;
}

/* width */
.terminal-text::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.terminal-text::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
.terminal-text::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.terminal-text::-webkit-scrollbar-thumb:hover {
    background: #555;
}